@media print, (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 24px;
    }



    .block
    {
        margin-bottom: 60px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination a,
    .pagination .sep
    {
        line-height: 40px;

        width: 40px;
        height: 40px;
    }



    /*------------
        Header
    ------------*/
    .mob_header .logo,
    .mob_header .logo img
    {
        max-width: 140px;
    }



    .mob_header .contacts
    {
        position: absolute;
        right: 20px;
        bottom: 12px;

        display: flex;

        justify-content: flex-end;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .mob_header .contacts .phone
    {
        font-size: 17px;
        line-height: 23px;
    }

    .mob_header .contacts .callback_btn
    {
        margin-bottom: 1px;
        margin-left: 20px;
    }


    .mob_header .links
    {
        margin-bottom: 24px;
        margin-left: 0;
    }

    .mob_header .links > * + *
    {
        margin-left: 16px;
    }


    .mob_header .mob_menu_btn
    {
        margin-bottom: 24px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .links
    {
        padding: 16px 20px;
    }

    aside .links > * + *
    {
        margin-top: 8px;
    }

    aside .links a
    {
        font-size: 15px;
    }



    /*---------------
        Page head
    ---------------*/
    .breadcrumbs .sep
    {
        margin: 0 8px;
    }


    .page_title
    {
        font-size: 26px;
        line-height: 30px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title
    {
        line-height: 30px;

        padding: 0;

        letter-spacing: .15em;
    }

    .block_head .title .bg
    {
        display: none;
    }



    /*------------------
        Form elements
    ------------------*/
    .form input[type=checkbox] + label br
    {
        display: none;
    }


    .form .submit_btn
    {
        font-size: 16px;
    }


    .form .bottom .agree
    {
        width: calc(100% - 176px);
    }

    .form .bottom .submit
    {
        width: 152px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h1,
    .text_block .title
    {
        font-size: 26px;
        line-height: 30px;
    }

    .text_block h2
    {
        font-size: 20px;
        line-height: 24px;

        letter-spacing: .1em;
    }

    .text_block h3
    {
        font-size: 20px;
        line-height: 24px;
    }


    .text_block * + h2,
    .text_block * + h3
    {
        margin-top: 40px;
    }


    .text_block > img
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-top: 24px;
        margin-right: -24px;
        margin-bottom: 24px;
        margin-left: -24px;
    }


    .text_block table
    {
        width: 728px;
    }


    .text_block .text_carousel
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .text_block .message
    {
        width: calc(100% + 48px) !important;
        max-width: calc(100% + 48px) !important;
        margin-right: -24px;
        margin-left: -24px;
    }


    .text_block .cols .col
    {
        width: 100%;
    }

    .text_block .cols .col + .col
    {
        margin-top: 24px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 40px 24px;
    }


    .action_form .info .title
    {
        font-size: 21px;
        line-height: 25px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe .info .title
    {
        font-size: 21px;
        line-height: 25px;
    }

    .subscribe .info .desc
    {
        font-size: 15px;
    }


    .subscribe form .input
    {
        font-size: 15px;

        width: calc(100% - 164px);
        height: 48px;
    }

    .subscribe form .submit_btn
    {
        font-size: 16px;

        width: 164px;
        height: 48px;
    }

    .subscribe form .agree
    {
        font-size: 13px;
        line-height: 17px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        margin-bottom: 60px;
    }


    .product_info .images
    {
        width: 100%;
    }

    .product_info .images .thumbs
    {
        padding: 0 52px;
    }


    .product_info .data
    {
        width: 100%;
        margin-top: 24px;
    }



    /*------------------------
        LK info - Personal
    ------------------------*/
    .lk_info .personal .section .block_title
    {
        font-size: 19px;
        line-height: 21px;
    }


    .lk_info .personal .form
    {
        --form_label_width: 124px;
    }

    .lk_info .personal .form .columns > *.width1of3
    {
        width: calc(100% - var(--form_columns_offset));
    }

    .lk_info .personal .form .cancel_btn
    {
        font-size: 16px;

        margin-left: 24px;
    }


    .lk_info .personal .btns
    {
        margin-top: 32px;
        margin-left: -24px;
    }

    .lk_info .personal .btns > *
    {
        max-width: calc(100% - 24px);
        margin-left: 24px;
    }


    .lk_info .personal .edit_info_btn
    {
        font-size: 16px;

        padding: 12px 24px;
    }

    .lk_info .personal .edit_pass_btn
    {
        font-size: 16px;

        padding: 11px 23px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head .cont > *
    {
        width: 100%;
    }

    .products_head .cont > * + *
    {
        margin-top: 8px;
        margin-left: 0;
    }


    .products_head .name
    {
        width: 104px;
    }



    /*--------------
        Products
    --------------*/
    .products .tabs
    {
        margin-bottom: 28px;

        justify-content: space-between;
    }

    .products .tabs button
    {
        font-size: 17px;
        line-height: 23px;
    }

    .products .tabs button + button
    {
        margin-left: 0;
    }


    .products .row,
    .content .products .row
    {
        margin-bottom: -32px;

        --products_count: 2;
    }

    .products .row > *
    {
        width: calc(50% - 20px);
        margin-bottom: 32px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .block_title
    {
        font-size: 18px;
        line-height: 24px;

        margin-bottom: 20px;
    }


    .cart_info table thead
    {
        display: none;
    }


    .cart_info table tr
    {
        position: relative;

        display: flex;

        min-height: 153px;
        padding: 20px 0 20px 108px;

        border-top: 1px solid #c0bcbd;
        border-bottom: 1px solid #c0bcbd;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .cart_info table tr + tr
    {
        margin-top: -1px;
    }


    .cart_info table td,
    .cart_info table td + td,
    .cart_info table tbody tr:first-child td
    {
        display: block;

        padding: 0;

        border: none;
    }


    .cart_info table td.thumb
    {
        position: absolute;
        top: 20px;
        left: 0;
    }

    .cart_info table td.name
    {
        width: 100%;
        padding-right: 40px;
    }


    .cart_info table td.size,
    .cart_info table td.price
    {
        line-height: 20px;

        position: relative;

        width: calc(50% - 12px);
        margin-top: 12px;
        padding-top: 20px !important;
    }

    .cart_info table td.price
    {
        font-size: 16px;
    }

    .cart_info table td.size:before,
    .cart_info table td.price:before
    {
        color: #000;
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 20px;

        content: attr(data-column);
        text-align: left;
        white-space: nowrap;
        letter-spacing: 0;
        text-transform: none;

        opacity: .6;
    }


    .cart_info table td.delete
    {
        position: absolute;
        top: 16px;
        right: 0;

        width: 32px;
        min-width: 32px;
    }


    .cart_info .cart_total
    {
        font-size: 19px;
        line-height: 25px;
    }

    .cart_info .cart_total span
    {
        margin-left: 20px;
    }



    .cart_info .auth_message
    {
        font-size: 14px;
        line-height: 20px;

        padding: 20px;
    }

    .cart_info .auth_message div
    {
        margin-bottom: 16px;
    }

    .cart_info .auth_message div br
    {
        display: none;
    }

    .cart_info .auth_message .btn
    {
        font-size: 16px;
        line-height: 22px;

        width: 200px;
        height: 44px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .section .block_title
    {
        font-size: 20px;
        line-height: 26px;
    }


    .checkout_info .form
    {
        --form_label_width: 92px;
    }

    .checkout_info .form .columns > *.width1of3
    {
        width: calc(100% - var(--form_columns_offset));
    }

    .form .columns > *.width1of6
    {
        width: calc(50% - var(--form_columns_offset));
    }

    .checkout_info .form .line
    {
        margin-bottom: 12px;
    }

    .checkout_info .form .exp
    {
        font-size: 13px;
        line-height: 17px;
    }


    .checkout_info .checkout_total
    {
        font-size: 19px;
        line-height: 25px;

        margin-bottom: 20px;
    }



    /*-----------------------
        LK info - History
    -----------------------*/
    .lk_info .history .block_title
    {
        font-size: 19px;
        line-height: 21px;
    }


    .lk_info .history .titles
    {
        display: none;
    }


    .lk_info .history .order + .order
    {
        margin-top: -1px;
    }

    .lk_info .history .order .head
    {
        padding-top: 20px;
        padding-bottom: 20px;

        border-top: 1px solid #c0bcbd;

        flex-wrap: wrap;
    }


    .lk_info .history .col_number,
    .lk_info .history .col_date,
    .lk_info .history .col_status,
    .lk_info .history .col_payment,
    .lk_info .history .col_price
    {
        position: relative;

        width: 33.333%;
        padding-top: 20px;
    }

    .lk_info .history .col_payment,
    .lk_info .history .col_price
    {
        margin-top: 12px;
    }

    .lk_info .history .col_number:before,
    .lk_info .history .col_date:before,
    .lk_info .history .col_status:before,
    .lk_info .history .col_payment:before,
    .lk_info .history .col_price:before
    {
        color: #000;
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 20px;

        content: attr(data-column);
        text-align: left;
        white-space: nowrap;
        letter-spacing: 0;
        text-transform: none;

        opacity: .6;
    }

    .lk_info .history .order .head > * + *
    {
        padding-left: 0;
    }


    .lk_info .history .order .data
    {
        margin-top: -1px;
        padding: 0;
    }


    .lk_info .history .cart_info table tbody tr:first-child td
    {
        padding: 0;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider
    {
        margin-bottom: 60px;
    }

    .main_slider .swiper-button-prev,
    .main_slider .swiper-button-next
    {
        display: none !important;
    }


    .main_slider .slide .cont
    {
        min-height: 340px;
        padding-top: 72px;
        padding-bottom: 72px;
    }


    .main_slider .slide .info
    {
        left: 0;
    }


    .main_slider .slide .pre_title
    {
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 16px;

        letter-spacing: .2em;
    }

    .main_slider .slide .pre_title:before
    {
        display: none;
    }


    .main_slider .slide .title
    {
        font-size: 32px;
        line-height: 40px;

        letter-spacing: .2em;
    }


    .main_slider .slide .link
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 32px;
    }

    .main_slider .slide .link .icon
    {
        width: 88px;
    }


    .main_slider > .bg
    {
        bottom: 52px;

        height: 52px;
        margin-left: -52px;
    }

    .main_slider > .bg2
    {
        top: 60px;

        width: 104px;
        margin-left: 136px;
    }



    /*---------------------
        Categories wall
    ---------------------*/
    .categories_wall
    {
        margin-bottom: 60px;
    }


    .categories_wall .grid
    {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 172px;
    }


    .categories_wall .grid .big_h
    {
        grid-row: 3 / 5;
        grid-column: 1 / 2;
    }

    .categories_wall .grid .big_w
    {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .categories_wall .grid .big_w2
    {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }


    .categories_wall .category .name
    {
        font-size: 17px;
        line-height: 23px;
    }


    .categories_wall .all_link
    {
        font-size: 17px;
        line-height: 23px;

        grid-column: auto;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block
    {
        margin-bottom: 60px;
        padding: 60px 0;
    }


    .about_block .block_head .desc
    {
        margin-top: 24px;
    }


    .about_block .with_img
    {
        padding-top: 12px;
    }

    .about_block .with_img .text
    {
        width: 100%;

        order: 2;
    }

    .about_block .with_img .img
    {
        width: 320px;
        margin-bottom: 20px;
    }



    /*--------------------
        About patterns
    --------------------*/
    .about_patterns
    {
        margin-bottom: 60px;
        padding: 60px 0;
    }


    .about_patterns .image
    {
        display: none;
    }


    .about_patterns .text
    {
        width: 100%;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 60px;
    }


    .articles .row > *
    {
        width: calc(50% - 24px);
    }

    .articles .row > *.tablet_hide
    {
        display: block !important;
    }



    /*------------
        Footer
    ------------*/
    footer .bottom
    {
        font-size: 13px;
        line-height: 19px;

        padding: 4px 0 24px;
    }


    footer .links
    {
        width: calc(50% - 12px);
        margin-top: 32px;

        order: 2;
    }


    footer .contacts
    {
        line-height: 30px;

        margin-right: auto;
        margin-left: 24px;
    }

    footer .contacts .location
    {
        margin-top: 10px;
    }



    footer .copyright
    {
        width: 100%;
    }


    footer .privacy_policy
    {
        width: 100%;
        margin-top: 8px;
    }



    /*-----------
        PopUp
    -----------*/
    .fancybox-slide--html
    {
        padding: 20px;
    }



    .modal
    {
        width: 420px;
        padding: 44px;
    }


    .modal .block_head
    {
        margin-bottom: 28px;
    }


    .modal .text
    {
        font-size: 20px;
        line-height: 24px;
    }
}
